{% extends 'frontend/base.html' %}{% block title %} About {% endblock %} {% block content %}
<div class="jumbotron">
    <h1 class="display-3">
        <center>
            <font face='courier new'>About ME</font>
        </center>
    </h1>
</div>

<body>
    <p align=center><img src="static/images/me.jpg" alt="me" width="250" height="300"></p>
    <text><center>
        Name: Thananthakorn Lersiripong<br>
        Student ID: 61010307<br>
        Age: 20 years<br>
        Faculty: Information Engineering<br>
        Education: King Mongkut's Institute of Technology Ladkrabang<br><br><br><br>
    </center></text>

</body>
{% endblock %}